.Game-Box {
  max-width: 70%;
  max-height: 50%;
  display: table;
  margin: 0 auto;
  position: relative;
}

.Main-Container {
  border: 1px solid purple;
  display: flex;
  flex-direction: row;
  justify-content: center;
}


