.In-Game-Menu-Container {
    min-width: 300px;
    margin: 30px 30px 30px 0px;
    border: 1px dotted green;

    --aug-border: 5px;
    --aug-inset: 5px;
    padding: 10px;
    text-align: center;
    --aug-border-bg: #133e7c;
    --aug-inset-bg: #0abdc6;
}