.menu-item {
  cursor: default;
  margin: 5px 5px 20px 30px;
  width: 60%;
  color: #00ff9f;
  font-size: 25px;
  text-align: left;
  padding: 0px 0px 2px 0px;
  border-bottom: solid rgba(0, 0, 0, 0.0);
}

.menu-item:hover {
  cursor: default;
  color: #FFD700;
  border-bottom: solid #FFD700;
}

.instructions {
  /*border: 1px solid #5da1c6;*/
  margin: 0 auto;
  height: 100%;
  width: 325px;
  --aug-border: 1px;
  --aug-inset-bg: rgba(0, 0, 0, 0.0);
  padding: 10px;
  text-align: center;
  --aug-border-bg: #5da1c6;
}

.instructions-container {
  text-align: center;
  margin: 5px 0px;
  height: 100%;
  width: 100%;
}

.nav {
  color: #00ff9f;
}

.menu-title {
  color: #FFD700;
  background-color: rgba(0, 0, 0, 0.0);
}

.In-Game-Menu-Container {
    color: #00ff9f;
    border: 5px solid #5da1c6;
    /*opacity: 0.8;*/
    /*background-color: white;*/

    display: flex;
    flex-direction: column;

    min-width: 375px;
    margin: 30px 10px 30px 0px;
    
    
    
    /*--aug-border: 5px;
    --aug-inset: 5px;
    --aug-inset-bg: rgba(0, 0, 0, 0.0);*/
    padding: 10px;
    text-align: center;
    --aug-border-bg: #5da1c6;

    background-color: rgba(0, 0, 0, 0.8);
}