h3 {
    color: #00ff9f;
}


#character-box {
    margin: 0px 0px 0px 30px;
    min-width: 300px;
    min-height: 100%;
    /*opacity: 0.2;*/

    --aug-border: 5px;
    --aug-inset: 5px;
    padding: 10px;
    text-align: center;
    --aug-border-bg: #0abdc6;
    /*--aug-inset-bg: #0abdc6;*/
    --aug-inset-bg: #133e7c;
}

.inventory-type {
    width: 100%;
    height: 50%;
    border: 2px dashed green;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.slots {
    margin: 1px 2px;
    height: 100px;
    width: 100px;
    display:flex;
    justify-content: center
}

.slots img{
    display: block;
    margin: auto;
}

#equipped {
    border: 2px solid blue;
}

#not-equipped {
    border: 2px solid black;
}