

p {
    color: #00ff9f;
}

.box {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center
}

.container weapon-stats-box {
    display: block;
    margin: auto;
}

.weapon-stats-box {
    width: 80%;
    height: 90%;
    margin: 5px 5px;
    display: flex;
    justify-content: space-around;

    --aug-border: 1px;
    --aug-inset: 5px;
    --aug-inset-bg: rgba(0, 0, 0, 0.0);
    padding: 5px;
    text-align: center;
    --aug-border-bg: purple;
}

#title {
    position: absolute;
    bottom: 0;
}

